.banner{
    height: 50vh;
    position: relative;
    background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg") 
    center center;

}
/*.banner_info{
    background-color: black;
    color: white;
    padding-top: 16.2vh;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    width: 300px;
    
}*/

.banner_info{
    background-color: black;
    color: white;
    padding-top: 16.2vh;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    width: 300px;
}
.banner_search{
    display: flex;
    flex-direction: column;
    
}
.banner_searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}
.banner_info>h5{
    margin-top: 10px;
}
.banner_info>button{
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    font-size: ;
}