.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    z-index: 100;
    width: 100%;
    top:0;
}

.header_icon{
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}
.header_center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 10px;
    height: 30px;
}
.header_center>input{
    border: none;
    /*width: 250px;*/
   padding: 10px;
   outline-width: 0px;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}